@import './variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@mixin flex($direction, $align: center, $justify: flex-start) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
@mixin transition($duration: 350ms, $type: ease-in) {
  transition: $duration $type;
}
@function fontFam($fontVal) {
  @return map-get($fonts,$fontVal);
}

body {
  @include flex(column, center);
  width: 100%;
  min-height: 100vh;
  background-color: rgb(52, 52, 52);
}

.title {
  font-family: fontFam('title');
  min-width:8%;
  text-align: center;
  padding: 0.2em;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.nav {
  z-index: 1000;
  position: relative;
  @include flex(row, center, space-between);
  gap: 30px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 1px rgb(0, 0, 0);
  .navLogo {
    padding: 0.1em;
  }

  .navItems,
  .navItemsDesktop {
    @include flex(row, center, center);
    gap: 0.9em;
    width: 300px;
    button {
      font-family: fontFam('title');
      width: 10em;
      padding: 0.7em;
      border: none;
      border-radius: 5px;
      background-color: rgb(46, 44, 44);
      color: white;
      cursor: pointer;
      @include transition();
      &.signOut {
        background-color: rgb(116, 1, 1);
      }
      &.signIn {
        background-color: rgb(8, 91, 8);
      }
      &:hover {
        opacity: 80%;
      }
      a {
        text-decoration: none;
        color: white;
        background-color: rgb(48, 44, 44);
        width: 100%;
        padding: 0.1em;
        display: block;
        border-radius: 20px;
      }
    }
  }
  .navItems {
    display: none;
  }
  .menu {
    display: none;
  }
  @media (max-width: 700px) {
    .navItems {
      display: none;
      padding: 0.5em;
      background-color: inherit;
      position: absolute;
      border-radius: 10px;
      top: 120%;
      right: 3%;
      box-shadow: -2px 2px 10px 0.5px rgb(29, 27, 27);
      &.active {
        @include flex(column, center);
      }
    }
    .navItemsDesktop {
      display: none;
    }

    .menu {
      display: block;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}
.profilePicture {
  border-radius: 50%;
  padding: 0.2em;
}

.main {
  width: 99%;
}
.home {
  @include flex(column, center, center);
  width: 98%;
  min-height: 60vh;
  background-color: rgb(52, 52, 52);
  margin: 30px auto;
  border-radius: 20px;
  box-shadow: 1px 0.9px 0.91px 0.9px  rgb(0, 0, 0);
  gap: 2px;
  overflow: clip;
}
.feed {
  @extend .home;
  width: 98%;
  box-shadow: none;
  @include flex(column, center, flex-start);
  background-color: rgb(53, 52, 52);
  color:black;

  .title {
    letter-spacing: 1px;
    align-self: center;
    min-height: auto;
  }
  form {
    @include flex(row, center, space-between);
    padding-inline: 1em;
    width: 100%;
    height: 40px;
    @media (min-width: 750px) {
      width: 60%;
    }
  }
  input {
    width: 95%;
    padding: 0.6em;
    border-radius: 10px;
    border: none;
    outline: 1px solid black;
    font-family: fontFam('content');
  }
  
  .searchIcon {
    width: 59px;
    border:none;
    outline:none;
  }
}
.cardList {
  width:80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  gap:10px;
  background-color:rgba(0, 0, 0, 0.018) ;
  padding: 2em .4em;
}
.postCard {
  margin-inline: auto;
  width: 16em;
  min-height: 10em;
  padding: 0.5em;
  color:black;
  box-shadow: -1px -1px 2px 1px rgba(56, 56, 56, 0.354);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 1;

  .head {
    @include flex(row-reverse, center, space-between);
    width: 100%;
    position: relative;
    color: rgb(57, 56, 55);
    border-bottom: 2px solid rgb(187, 189, 187);
    padding: 0.6em 0.2em;
    font-family: fontFam('head');
  }
  .cardImage {
    background-color: white;
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 200;
    padding: 0.1em;
    &::before {
      content: "";
      isolation: isolate;
      position: absolute;
      background-image: linear-gradient(#ffffff, rgb(243, 243, 243), #e6e6e6);
      width: 47px;
      height: 47px;
      border-radius: 50%;
      top: -10%;
      left: -10%;
      z-index: -1;
      animation: spin 1000ms ease-in infinite;
    }
    @keyframes spin {
      from {
        rotate: 360deg;
      }
      to {
        rotate: 0deg;
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .creatorDeets {
    @include flex(column, center, space-evenly);
    width: 75%;
    min-height: 10px;
    gap: 5px;
    margin-right: 8%;
    .name,
    .email {
      width: 100%;
      min-height: 20px;
      overflow-wrap: break-word;
      overflow: hidden;
    }
  }
  .middle {
    @include flex(column, flex-start, space-evenly);
    width: 90%;
    min-height: 50%;
    padding: 0.1em;
    gap: 10px;
    margin-top: 10px;
    margin-inline: auto;
    font-family: fontFam('content');
    .copyBtn {
      @include flex(row, center);
      gap: 8px;
      width: 40px;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
    h5{
      cursor: pointer;
      font-family: monospace;
      font-size: 12px;
      color: rgb(6,135,138);
    }
  }
  .content {
   
    background-color: rgb(245, 245, 245);
    white-space: pre-wrap;
    min-height: 50%;
    padding: 0.2em 0.6em;
  }

  .footer {
    width: 90%;
    padding: 0.7em 0.4em;
    @include flex(row, center, space-between);
    margin: 4px auto;
    // background-color: #4e4c4c;
    div {
      @include flex(row, center, center);
      gap: 10px;
      padding: 0.3em 1em;
      border-radius: 10px;
      cursor: pointer;
      outline: 2px solid black;
      @include transition(560ms, ease-in);
      &:hover {
        transform: scale(0.94);
      }
    }
  }
  @media (min-width: 768px) {
  &:nth-child(7n+1) {
    grid-column-end: span 2;
    width: 20em;
  }
}
   @media(min-width: 1000px) {
    &:nth-child(7n+1) {
      grid-column-end: span 1;
      width: 16em;
    }
  }
}

.formContainer {
  @include flex(column, center, center);
  @extend .home;
  margin-top: 18px;
  width: 80vw;
  min-height: 50vh;
  background-color: white;
  border-radius: 10px;
  gap: 20px;
  padding: 1em;
  @media (min-width: 700px) {
    width: 60vw;
  }
  h2 {
    @extend .title;
  }
  form {
    @include flex(column);
    width: 60vw;
    min-height: 40vh;
    gap: 10px;
    label {
      outline: 1px solid black;
      cursor: pointer;
      padding: 0.2em 0.5em;
      margin-bottom: 10px;
      border-radius: 10px;
    }
    textarea {
      resize: none;
      width: 90%;
      min-height: 35vh;
      padding: 0.6em 1em;
      font-size: 17px;
      color: white;
      background-color: rgb(56, 53, 53);
      outline: none;
      border: none;
      border-radius: 15px;
      @media (min-width: 700px) {
        width: 60%;
      }
      &::placeholder {
        color: white;
      }
    }
    input {
      @extend textarea;
      min-height: 4vh;
    }
  }
  .postBtns {
    @include flex(row, center, space-evenly);
    width: 100%;
    padding: 0.7em;
    @media (min-width: 700px) {
      width: 70%;
    }
    a,
    button {
      display: block;
      width: 45%;
      text-decoration: none;
      background-color: rgb(13, 146, 13);
      border: none;
      color: white;
      outline: none;
      padding: 9px;
      border-radius: 10px;
      text-align: center;
      border: 1px solid black;
      cursor: pointer;
      @include transition(300ms, ease-in);
      &:hover {
        @include transition(300ms, ease-in);
        transform: scale(0.9);
      }
      &.cancel {
        color: black;
        background-color: rgb(255, 255, 255);
      }
      &.edit {
        color: rgb(255, 255, 255);
        background-color: rgb(2, 97, 64);
      }
      @media (min-width: 700px) {
        width: 30%;
      }
    }
  }
}

.profile {
  @extend .home;
}



.emptyDisplay {
  @extend .title;
  font-size: 2em;
  color:#df8a0b;
}
.searchField {
  @extend .home;
}
.val {
  color: #df8a0b;
  margin-left: 7px;
  text-transform: lowercase;
}

dialog {
  @include transition(300ms,ease-in);
  border:none;
  outline:1px solid black ;
  width: 80%;
  min-height: 5em;
  padding: .3em;
  margin:200px auto;
  font-family: fontFam('title');
  .con {
    @extend dialog;
    width:100%;
    min-height: 100%;
    margin:0 auto;
    outline:none;
    @include flex(column,center,center);
  }
  div{
    @include flex('row',center,center);
    width: 100%;
    margin-top: 10px;
    gap: 30px;
    button {
      cursor:pointer;
      width: 30%;
      padding: .5em;
      font-family: fontFam('head');
      background-color: white;
      color:#df8a0b;
      border: 2px solid #df8a0b;
      @include transition(300ms,ease-out);
      &:nth-child(2){
        color: darkred;
        border:2px solid darkred;
      }
      &:hover {
        transform: scale(0.9);
      }
    }
  }
  img {
    width:50px;
  }
  &::backdrop {
    background-color: rgba(87, 2, 2, 0.32);
  }
}

.DYK,.text{
 @include flex(row,center ,center );
  font-size: 1.2em;
  font-weight:bold;
  text-align:center;
 overflow: clip;
  white-space: nowrap;
 margin: 0 auto;
border-right: 3px solid rgb(26, 224, 16); 
animation: write 3.6s steps(50,end),blink 700ms ease-in infinite
}

.text {
  display: block;
-webkit-text-stroke: 0.1px black;
 width:100%;
 height: 100%;
 border:none;
 color:rgb(255, 255, 255);
 padding: .1em .5em;
}
@keyframes blink {
from { border-color: transparent;}
50% {border-color:rgb(26, 224, 16);}
to { border-color: transparent; }
}
@keyframes write {
0% {width: 0%;}
25% {width: 30%;}
50% {width:60%;}
75% {width: 75%;}
100% {width:100%;}

}


.custom-loader {
  width:50px;
  height:50px;
  border-radius:50%;
  background:conic-gradient(#0000 10%,#FFFFFF);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s3 1s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}

.hide {
  display: none;
}
