@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Spline+Sans+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Genos:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(52, 52, 52);
}

.title, .emptyDisplay, .formContainer h2 {
  font-family: "Chakra Petch", sans-serif, "Spline Sans Mono", monospace;
  min-width: 8%;
  text-align: center;
  padding: 0.2em;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 1px rgb(0, 0, 0);
}
.nav .navLogo {
  padding: 0.1em;
}
.nav .navItems,
.nav .navItemsDesktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.9em;
  width: 300px;
}
.nav .navItems button,
.nav .navItemsDesktop button {
  font-family: "Chakra Petch", sans-serif, "Spline Sans Mono", monospace;
  width: 10em;
  padding: 0.7em;
  border: none;
  border-radius: 5px;
  background-color: rgb(46, 44, 44);
  color: white;
  cursor: pointer;
  transition: 350ms ease-in;
}
.nav .navItems button.signOut,
.nav .navItemsDesktop button.signOut {
  background-color: rgb(116, 1, 1);
}
.nav .navItems button.signIn,
.nav .navItemsDesktop button.signIn {
  background-color: rgb(8, 91, 8);
}
.nav .navItems button:hover,
.nav .navItemsDesktop button:hover {
  opacity: 80%;
}
.nav .navItems button a,
.nav .navItemsDesktop button a {
  text-decoration: none;
  color: white;
  background-color: rgb(48, 44, 44);
  width: 100%;
  padding: 0.1em;
  display: block;
  border-radius: 20px;
}
.nav .navItems {
  display: none;
}
.nav .menu {
  display: none;
}
@media (max-width: 700px) {
  .nav .navItems {
    display: none;
    padding: 0.5em;
    background-color: inherit;
    position: absolute;
    border-radius: 10px;
    top: 120%;
    right: 3%;
    box-shadow: -2px 2px 10px 0.5px rgb(29, 27, 27);
  }
  .nav .navItems.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .nav .navItemsDesktop {
    display: none;
  }
  .nav .menu {
    display: block;
    margin-right: 10px;
    cursor: pointer;
  }
}

.profilePicture {
  border-radius: 50%;
  padding: 0.2em;
}

.main {
  width: 99%;
}

.home, .searchField, .profile, .formContainer, .feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 98%;
  min-height: 60vh;
  background-color: rgb(52, 52, 52);
  margin: 30px auto;
  border-radius: 20px;
  box-shadow: 1px 0.9px 0.91px 0.9px rgb(0, 0, 0);
  gap: 2px;
  overflow: clip;
}

.feed {
  width: 98%;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(53, 52, 52);
  color: black;
}
.feed .title, .feed .emptyDisplay, .feed .formContainer h2, .formContainer .feed h2 {
  letter-spacing: 1px;
  align-self: center;
  min-height: auto;
}
.feed form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1em;
  width: 100%;
  height: 40px;
}
@media (min-width: 750px) {
  .feed form {
    width: 60%;
  }
}
.feed input {
  width: 95%;
  padding: 0.6em;
  border-radius: 10px;
  border: none;
  outline: 1px solid black;
  font-family: "M PLUS 1 Code", monospace;
}
.feed .searchIcon {
  width: 59px;
  border: none;
  outline: none;
}

.cardList {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.018);
  padding: 2em 0.4em;
}

.postCard {
  margin-inline: auto;
  width: 16em;
  min-height: 10em;
  padding: 0.5em;
  color: black;
  box-shadow: -1px -1px 2px 1px rgba(56, 56, 56, 0.354);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 1;
}
.postCard .head {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  color: rgb(57, 56, 55);
  border-bottom: 2px solid rgb(187, 189, 187);
  padding: 0.6em 0.2em;
  font-family: "Genos", sans-serif;
}
.postCard .cardImage {
  background-color: white;
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 200;
  padding: 0.1em;
}
.postCard .cardImage::before {
  content: "";
  isolation: isolate;
  position: absolute;
  background-image: linear-gradient(#ffffff, rgb(243, 243, 243), #e6e6e6);
  width: 47px;
  height: 47px;
  border-radius: 50%;
  top: -10%;
  left: -10%;
  z-index: -1;
  animation: spin 1000ms ease-in infinite;
}
@keyframes spin {
  from {
    rotate: 360deg;
  }
  to {
    rotate: 0deg;
  }
}
.postCard .cardImage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.postCard .creatorDeets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
  min-height: 10px;
  gap: 5px;
  margin-right: 8%;
}
.postCard .creatorDeets .name,
.postCard .creatorDeets .email {
  width: 100%;
  min-height: 20px;
  overflow-wrap: break-word;
  overflow: hidden;
}
.postCard .middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 90%;
  min-height: 50%;
  padding: 0.1em;
  gap: 10px;
  margin-top: 10px;
  margin-inline: auto;
  font-family: "M PLUS 1 Code", monospace;
}
.postCard .middle .copyBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 40px;
  cursor: pointer;
}
.postCard .middle .copyBtn img {
  width: 100%;
}
.postCard .middle h5 {
  cursor: pointer;
  font-family: monospace;
  font-size: 12px;
  color: rgb(6, 135, 138);
}
.postCard .content {
  background-color: rgb(245, 245, 245);
  white-space: pre-wrap;
  min-height: 50%;
  padding: 0.2em 0.6em;
}
.postCard .footer {
  width: 90%;
  padding: 0.7em 0.4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 4px auto;
}
.postCard .footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.3em 1em;
  border-radius: 10px;
  cursor: pointer;
  outline: 2px solid black;
  transition: 560ms ease-in;
}
.postCard .footer div:hover {
  transform: scale(0.94);
}
@media (min-width: 768px) {
  .postCard:nth-child(7n+1) {
    grid-column-end: span 2;
    width: 20em;
  }
}
@media (min-width: 1000px) {
  .postCard:nth-child(7n+1) {
    grid-column-end: span 1;
    width: 16em;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  width: 80vw;
  min-height: 50vh;
  background-color: white;
  border-radius: 10px;
  gap: 20px;
  padding: 1em;
}
@media (min-width: 700px) {
  .formContainer {
    width: 60vw;
  }
}
.formContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 60vw;
  min-height: 40vh;
  gap: 10px;
}
.formContainer form label {
  outline: 1px solid black;
  cursor: pointer;
  padding: 0.2em 0.5em;
  margin-bottom: 10px;
  border-radius: 10px;
}
.formContainer form textarea, .formContainer form input {
  resize: none;
  width: 90%;
  min-height: 35vh;
  padding: 0.6em 1em;
  font-size: 17px;
  color: white;
  background-color: rgb(56, 53, 53);
  outline: none;
  border: none;
  border-radius: 15px;
}
@media (min-width: 700px) {
  .formContainer form textarea, .formContainer form input {
    width: 60%;
  }
}
.formContainer form textarea::-moz-placeholder, .formContainer form input::-moz-placeholder {
  color: white;
}
.formContainer form textarea::placeholder, .formContainer form input::placeholder {
  color: white;
}
.formContainer form input {
  min-height: 4vh;
}
.formContainer .postBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 0.7em;
}
@media (min-width: 700px) {
  .formContainer .postBtns {
    width: 70%;
  }
}
.formContainer .postBtns a,
.formContainer .postBtns button {
  display: block;
  width: 45%;
  text-decoration: none;
  background-color: rgb(13, 146, 13);
  border: none;
  color: white;
  outline: none;
  padding: 9px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  transition: 300ms ease-in;
}
.formContainer .postBtns a:hover,
.formContainer .postBtns button:hover {
  transition: 300ms ease-in;
  transform: scale(0.9);
}
.formContainer .postBtns a.cancel,
.formContainer .postBtns button.cancel {
  color: black;
  background-color: rgb(255, 255, 255);
}
.formContainer .postBtns a.edit,
.formContainer .postBtns button.edit {
  color: rgb(255, 255, 255);
  background-color: rgb(2, 97, 64);
}
@media (min-width: 700px) {
  .formContainer .postBtns a,
  .formContainer .postBtns button {
    width: 30%;
  }
}

.emptyDisplay {
  font-size: 2em;
  color: #df8a0b;
}

.val {
  color: #df8a0b;
  margin-left: 7px;
  text-transform: lowercase;
}

.DYK, .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  overflow: clip;
  white-space: nowrap;
  margin: 0 auto;
  border-right: 3px solid rgb(26, 224, 16);
  animation: write 3.6s steps(50, end), blink 700ms ease-in infinite;
}

.text {
  display: block;
  -webkit-text-stroke: 0.1px black;
  width: 100%;
  height: 100%;
  border: none;
  color: rgb(255, 255, 255);
  padding: 0.1em 0.5em;
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  50% {
    border-color: rgb(26, 224, 16);
  }
  to {
    border-color: transparent;
  }
}
@keyframes write {
  0% {
    width: 0%;
  }
  25% {
    width: 30%;
  }
  50% {
    width: 60%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(rgba(0, 0, 0, 0) 10%, #FFFFFF);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}
.hide {
  display: none;
}/*# sourceMappingURL=styles.css.map */